body {
    background-image: url("https://wallpaperaccess.com/full/9205550.gif");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/*.coffee-row{*/
/*    align-items: end;*/
/*}*/
/*.col-wrap{*/
/*    padding: unset;*/
/*}*/
div .coffee{
    margin-bottom: 80px;
}
h3{
    border: 50px;
    padding: 10px;
    opacity: 0.6;
    border-radius: 50%;
    text-align: center;
    background-color: antiquewhite;
    box-shadow:
            0 0 15px 7px #fff,  /* inner white */
            0 0 25px 15px #f0f, /* middle magenta */
            0 0 30px 20px #0ff; /* outer cyan */
    font-weight: bold;
    color: black;

}
span{
    border: 50px;
    padding: 10px;
    opacity: 0.6;
    border-radius: 50%;
    text-align: center;
    background-color: antiquewhite;
    box-shadow:
            0 0 15px 7px #fff,  /* inner white */
            0 0 25px 15px #f0f, /* middle magenta */
            0 0 30px 20px #0ff; /* outer cyan */
    font-weight: bold;
    color: black;

}
.jd-h1{
    border: 50px;
    padding: 10px;
    opacity: 0.6;
    border-radius: 5%;
    text-align: center;
    background-color: antiquewhite;
    box-shadow:
            0 0 15px 7px #fff,  /* inner white */
            0 0 25px 15px #f0f, /* middle magenta */
            0 0 30px 20px #0ff; /* outer cyan */
    font-weight: bold;
    color: black;
}
h2 {
    border: 50px;
    padding: 10px;
    opacity: 0.6;
    border-radius: 50%;
    text-align: center;
    background-color: antiquewhite;
    box-shadow:
            0 0 15px 7px #fff,  /* inner white */
            0 0 25px 15px #f0f, /* middle magenta */
            0 0 30px 20px #0ff; /* outer cyan */
    font-weight: bold;
    color: white;
}

p {

    opacity: 0.6;
    border-radius: 50%;
    text-align: center;
    background-color: #9336B4;
    box-shadow:
            0 0 15px 7px #fff,  /* inner white */
            0 0 25px 15px #f0f, /* middle magenta */
            0 0 30px 20px #0ff; /* outer cyan */
    font-weight: bold;
    color: antiquewhite;
}
table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}
.jb-line{
    border-top: 1px solid lightgrey;
    width: 90%;
}
.jb-roast-button {
    width: 100%;
}
.jb-coffee-name {
    width: 100%;
}
select {
    opacity: 0.6;
    border-radius: 50%;
    text-align: center;
    background-color: #fff;
    box-shadow:
            0 0 15px 7px #fff,  /* inner white */
            0 0 25px 15px #f0f, /* middle magenta */
            0 0 30px 20px #0ff; /* outer cyan */
}





/*long button css start*/

.jb-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    height: 3rem;
    background-size: 300% 300%;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
    border: double 4px transparent;
    background-image: linear-gradient(#212121, #212121),  linear-gradient(137.48deg, #FFDB3B 10%,#FE53BB 45%, #8F51EA 67%, #0044FF 87%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
#container-stars {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
}
strong {
    z-index: 2;
    font-family: 'fantasy';
    font-size: 12px;
    letter-spacing: 5px;
    color: #FFFFFF;
    text-shadow: 0 0 4px white;
}
#glow {
    position: absolute;
    display: flex;
    width: 12rem;
}
.jb-circle {
    width: 100%;
    height: 30px;
    filter: blur(2rem);
    animation: pulse_3011 4s infinite;
    z-index: -1;
}
.jb-circle:nth-of-type(1) {
    background: rgba(254, 83, 186, 0.636);
}
.jb-circle:nth-of-type(2) {
    background: rgba(142, 81, 234, 0.704);
}
.jb-btn:hover #container-stars {
    z-index: 1;
    background-color: #212121;
}
.jb-btn:hover {
    transform: scale(1.1)
}
.jb-btn:active {
    border: double 4px #FE53BB;
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: none;
}
.jb-btn:active .circle {
    background: #FE53BB;
}
#stars {
    position: relative;
    background: transparent;
    width: 200rem;
    height: 200rem;
}
#stars::after {
    content: "";
    position: absolute;
    top: -10rem;
    left: -100rem;
    width: 100%;
    height: 100%;
    animation: animStarRotate 90s linear infinite;
}
#stars::after {
    background-image: radial-gradient(#FFFFFF 1px, transparent 1%);
    background-size: 50px 50px;
}
#stars::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 170%;
    height: 500%;
    animation: animStar 60s linear infinite;
}
#stars::before {
    background-image: radial-gradient(#FFFFFF 1px, transparent 1%);
    background-size: 50px 50px;
    opacity: 0.5;
}
@keyframes animStar {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-135rem);
    }
}
@keyframes animStarRotate {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0);
    }
}
@keyframes gradient_301 {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
@keyframes pulse_3011 {
    0% {
        transform: scale(0.75);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
    100% {
        transform: scale(0.75);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}
/*long button css end*/

/*start long coffee name input css*/

.jb-container {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bold;
    display: flex;
    margin: auto;
    aspect-ratio: 16/9;
    align-items: center;
    justify-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1em;
}
.input-container {
    filter: drop-shadow(46px 36px 24px #4090B5) drop-shadow(-55px -40px 25px #9E30A9);
    animation: blinkShadowsFilter 8s ease-in infinite;
}
.input-content {
    display: grid;
    align-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    padding-inline: 1em;
    width: 450px
}
.input-content::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(40px);
    -webkit-clip-path: polygon(26% 0, 66% 0, 92% 0, 100% 8%, 100% 89%, 91% 100%, 7% 100%, 0 92%, 0 0);
    clip-path: polygon(26% 0, 66% 0, 92% 0, 100% 8%, 100% 89%, 91% 100%, 7% 100%, 0 92%, 0 0);
    background: rgba(122, 251, 255, 0.5568627451);
    transition: all 1s ease-in-out;
}
.input-content::after {
    content: "";
    position: absolute;
    width: 98%;
    height: 98%;
    box-shadow: inset 0px 0px 20px 20px #212121;
    background: repeating-linear-gradient(to bottom, transparent 0%, rgba(64, 144, 181, 0.6) 1px, rgb(0, 0, 0) 3px, hsl(295, 60%, 12%) 5px, #153544 4px, transparent 0.5%), repeating-linear-gradient(to left, hsl(295, 60%, 12%) 100%, hsla(295, 60%, 12%, 0.99) 100%);
    -webkit-clip-path: polygon(26% 0, 31% 5%, 61% 5%, 66% 0, 92% 0, 100% 8%, 100% 89%, 91% 100%, 7% 100%, 0 92%, 0 0);
    clip-path: polygon(26% 0, 31% 5%, 61% 5%, 66% 0, 92% 0, 100% 8%, 100% 89%, 91% 100%, 7% 100%, 0 92%, 0 0);
    animation: backglitch 50ms linear infinite;
}
.input-dist {
    z-index: 80;
    display: grid;
    align-items: center;
    text-align: center;
    width: 100%;
    padding-inline: 1em;
    padding-block: 1.2em;
    grid-template-columns: 1fr;
}
.input-type {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1em;
    font-size: 1.1rem;
    background-color: transparent;
    width: 100%;
    border: none;
}
.input-is {
    color: #fff;
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    transition: all 1s ease-in-out;
    border-bottom: 1px solid hsl(221, 26%, 43%);
}
.input-is:hover {
    transition: all 1s ease-in-out;
    background: linear-gradient(90deg, transparent 0%, rgba(102, 224, 255, 0.2) 27%, rgba(102, 224, 255, 0.2) 63%, transparent 100%);
}
.input-content:focus-within::before {
    transition: all 1s ease-in-out;
    background: hsla(0, 0%, 100%, 0.814);
}
.input-is:focus {
    outline: none;
    border-bottom: 1px solid hsl(192, 100%, 100%);
    color: hsl(192, 100%, 88%);
    background: linear-gradient(90deg, transparent 0%, rgba(102, 224, 255, 0.2) 27%, rgba(102, 224, 255, 0.2) 63%, transparent 100%);
}
.input-is::-moz-placeholder {
    color: hsla(192, 100%, 88%, 0.806);
}
.input-is::placeholder {
    color: hsla(192, 100%, 88%, 0.806);
}
@keyframes backglitch {
    0% {
        box-shadow: inset 0px 20px 20px 30px #212121;
    }
    50% {
        box-shadow: inset 0px -20px 20px 30px hsl(297, 42%, 10%);
    }
    to {
        box-shadow: inset 0px 20px 20px 30px #212121;
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg) translate(-50%, 20%);
    }
    50% {
        transform: rotate(180deg) translate(40%, 10%);
    }
    to {
        transform: rotate(360deg) translate(-50%, 20%);
    }
}
@keyframes blinkShadowsFilter {
    0% {
        filter: drop-shadow(46px 36px 28px rgba(64, 144, 181, 0.3411764706)) drop-shadow(-55px -40px 28px #9E30A9);
    }
    25% {
        filter: drop-shadow(46px -36px 24px rgba(64, 144, 181, 0.8980392157)) drop-shadow(-55px 40px 24px #9E30A9);
    }
    50% {
        filter: drop-shadow(46px 36px 30px rgba(64, 144, 181, 0.8980392157)) drop-shadow(-55px 40px 30px rgba(159, 48, 169, 0.2941176471));
    }
    75% {
        filter: drop-shadow(20px -18px 25px rgba(64, 144, 181, 0.8980392157)) drop-shadow(-20px 20px 25px rgba(159, 48, 169, 0.2941176471));
    }
    to {
        filter: drop-shadow(46px 36px 28px rgba(64, 144, 181, 0.3411764706)) drop-shadow(-55px -40px 28px #9E30A9);
    }
}
/*End of long coffee name input*/

/*start roast dropdown menu*/
/* Clearing floats */
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
/* Mini reset, no margins, paddings or bullets */
.menu,
.submenu {
    margin: 0;
    padding: 0;
    list-style: none;
}
/* Main level */
.menu {
    margin: 50px auto;
    width: 800px;
    /* http://www.red-team-design.com/horizontal-centering-using-css-fit-content-value */
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
}
.menu > li {
    background: #34495E;
    float: left;
    position: relative;
    transform: skewX(25deg);
}
.menu a {
    display: block;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Arial, Helvetica;
    font-size: 14px;
}
.menu li:hover {
    background: #E74C3C;
}
.menu > li > a {
    transform: skewX(-25deg);
    padding: 1em 2em;
}
/* Dropdown */
.submenu {
    position: absolute;
    width: 200px;
    left: 50%; margin-left: -100px;
    transform: skewX(-25deg);
    transform-origin: left top;
}
.submenu li {
    background-color: #34495E;
    position: relative;
    overflow: hidden;
}
.submenu > li > a {
    padding: 1em 2em;
}
.submenu > li::after {
    content: '';
    position: absolute;
    top: -125%;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 50px rgba(0, 0, 0, .9);
}
/* Odd stuff */
.submenu > li:nth-child(odd){
    transform: skewX(-25deg) translateX(0);
}
.submenu > li:nth-child(odd) > a {
    transform: skewX(25deg);
}
.submenu > li:nth-child(odd)::after {
    right: -50%;
    transform: skewX(-25deg) rotate(3deg);
}
/* Even stuff */
.submenu > li:nth-child(even){
    transform: skewX(25deg) translateX(0);
}
.submenu > li:nth-child(even) > a {
    transform: skewX(-25deg);
}
.submenu > li:nth-child(even)::after {
    left: -50%;
    transform: skewX(25deg) rotate(3deg);
}
/* Show dropdown */
.submenu,
.submenu li {
    opacity: 0;
    visibility: hidden;
}
.submenu li {
    transition: .2s ease transform;
}
.menu > li:hover .submenu,
.menu > li:hover .submenu li {
    opacity: 1;
    visibility: visible;
}
.menu > li:hover .submenu li:nth-child(even){
    transform: skewX(25deg) translateX(15px);
}
.menu > li:hover .submenu li:nth-child(odd){
    transform: skewX(-25deg) translateX(-15px);
}
/*end of roast dropdown menu*/





/*spinning header*/
.myCard {
    background-color: transparent;
    width: 350px;
    height: 150px;
    perspective: 1000px;
}

.title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
}

.innerCard {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.myCard:hover .innerCard {
    transform: rotateY(180deg);
}

.frontSide,
.backSide {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    color: white;
    box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
    font-weight: 700;
}

.frontSide,
.frontSide::before {
    background: linear-gradient(43deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 46%, rgb(255, 204, 112) 100%);
    opacity: 80%;
}

.backSide,
.backSide::before {
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    opacity: 80%;
}

.backSide {
    transform: rotateY(180deg);
}

.frontSide::before,
.backSide::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 110%;
    height: 110%;
    position: absolute;
    z-index: -1;
    border-radius: 1em;
    filter: blur(20px);
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0% {
        opacity: 0.3;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0.3;
    }
}
/*END Spinning header*/


/*experiment cursor*/
